/* .container{
  background-color: burlywood;
} */

.imgContainer{
  width: 100%;
  height: 300px;
  position: relative;
}

.img{
  object-fit: cover;
  /* filter: grayscale(50%); */
}

.imgText{
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: #53c28b;
  padding: 5px;
  color: white;
}

.textContainer{
  display:flex;
  gap: 100px;
}

.item{
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}